.product

.product__block
  display: flex
  justify-content: space-between
  height: 700px

.product__block-left
  flex: 0 0 auto
  width: 25%

.product__block-right
  flex: 0 0 auto
  width: 75%

.product__block-right-slidercont
  height: 100%
  background-color: #000

.block-right__slider
  height: 80%

.block-right__slider-min
  height: 20%
  padding: 5px 0

  .swiper-slide
    opacity: 0.5

  .swiper-slide-thumb-active
    opacity: 1

.slider__wrap

.slider__slide
  background-image: url("testslide.jpg")
  background-size: cover
  background-repeat: no-repeat


.slider__prev

.slider__next

.block-left__params-item
  display: flex
